<!DOCTYPE html>
<html lang="zh">
<head>
    <title>Robotic Process Automation Tests</title>
    <meta charset="UTF-8">
    <meta content="Robotic Process Automation" name="description">
    <meta content="RPA" name="description">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link href="https://github.githubassets.com/favicons/favicon.png" rel="shortcut icon" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@7.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@3.6.7/dist/vuetify.min.css" rel="stylesheet">
</head>
<body>

<v-app id="app">
    <v-layout>
        <v-app-bar flat>
            <v-container class="mx-auto d-flex align-center justify-center">
                <v-avatar
                        class="me-4 "
                        color="grey-darken-1"
                        size="32"
                ></v-avatar>

                <v-btn
                        v-for="link in links"
                        :key="link.name"
                        :text="$t(link.name)"
                        :href="link.url"
                        variant="text"
                ></v-btn>

                <v-spacer></v-spacer>

                <v-menu bottom right>
                    <template v-slot:activator="{ props }">
                        <v-btn
                                class="align-self-center mr-4"
                                v-bind="props"
                                variant="text">
                            <v-icon>mdi-translate</v-icon>
                        </v-btn>
                    </template>
                    <v-list>
                        <v-list-item v-for="locale in language.locales"
                                     @click="changeLocale(locale.code)">
                            {{ locale.name }}
                        </v-list-item>
                    </v-list>
                </v-menu>

            </v-container>
        </v-app-bar>

        <v-main class="bg-grey-lighten-3">
            <v-container>
                <v-row>
                    <v-col cols="2">
                        <v-sheet rounded="lg">
                            <v-list rounded="lg">
                                <v-list-item
                                        v-for="app in app.list"
                                        :key="app.id"
                                        :title="app.name"
                                        class="text-center"
                                        link
                                ></v-list-item>

                                <!--<v-divider class="my-2"></v-divider>

                                <v-list-item
                                        color="grey-lighten-4"
                                        title="Refresh"
                                        link
                                ></v-list-item>-->
                            </v-list>
                        </v-sheet>
                    </v-col>

                    <v-col cols="10">
                        <v-sheet
                                min-height="70vh"
                                rounded="lg"
                        >
                            <v-data-table
                                    :headers="user.headers" :items="user.list"
                                    :options.sync="user.options" :server-items-length="user.total"
                                    :loading="user.loading" loading-text="Loading..."
                                    @update:options="listUsers">
                                <template v-slot:top>
                                    <v-toolbar flat>
                                        <v-row>
                                            <v-col>
                                                <v-text-field
                                                        v-model="user.query.account"
                                                        label="Account"
                                                        clearable dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field
                                                        v-model="user.query.nickname"
                                                        label="Nickname"
                                                        clearable dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field
                                                        v-model="user.query.realname"
                                                        label="Realname"
                                                        clearable dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-text-field
                                                        v-model="user.query.company"
                                                        label="Company"
                                                        clearable dense>
                                                </v-text-field>
                                            </v-col>
                                            <v-col>
                                                <v-btn @click="listUsers">Search</v-btn>
                                            </v-col>
                                        </v-row>
                                        <!--<v-dialog v-model="task.dialog" max-width="600px">
                                            <v-card>
                                                <v-card-title>
                                                    <span class="text-h5">New Task</span>
                                                </v-card-title>
                                                <v-card-text>
                                                    <v-form v-model="task.valid">
                                                        <v-container>
                                                            <v-row>
                                                                <v-col cols="12" md="12">
                                                                    <v-select
                                                                            v-model="task.params.type"
                                                                            :rules="task.rules.type"
                                                                            :items="taskTypes[task.app.id]"
                                                                            item-value="key"
                                                                            item-text="value"
                                                                            label="Type *"
                                                                            required>
                                                                    </v-select>
                                                                </v-col>
                                                                <v-col cols="12" md="12">
                                                                    <v-dialog v-model="task.menu" width="290px">
                                                                        <template v-slot:activator="{ on, attrs }">
                                                                            <v-text-field
                                                                                    v-model="task.params.scheduleTime"
                                                                                    :rules="task.rules.scheduleTime"
                                                                                    label="Schedule Time"
                                                                                    v-bind="attrs" v-on="on"
                                                                                    optional clearable></v-text-field>
                                                                        </template>
                                                                        <v-date-picker
                                                                                v-if="task.datePicker"
                                                                                v-model="task.temp.scheduleDate"
                                                                                scrollable>
                                                                            <v-spacer></v-spacer>
                                                                            <v-btn color="primary" text
                                                                                   :disabled="!task.temp.scheduleDate"
                                                                                   @click="task.datePicker=false; task.timePicker=true">
                                                                                OK
                                                                            </v-btn>
                                                                        </v-date-picker>
                                                                        <v-time-picker
                                                                                v-if="task.timePicker"
                                                                                v-model="task.temp.scheduleTime"
                                                                                format="24hr" use-seconds scrollable>
                                                                            <v-spacer></v-spacer>
                                                                            <v-btn color="primary" text
                                                                                   :disabled="!task.temp.scheduleTime"
                                                                                   @click="task.datePicker=true; task.timePicker=false; task.menu=false; task.params.scheduleTime=task.temp.scheduleDate +' '+ task.temp.scheduleTime">
                                                                                OK
                                                                            </v-btn>
                                                                        </v-time-picker>
                                                                    </v-dialog>
                                                                </v-col>
                                                                <v-col cols="12" md="12">
                                                                    <v-textarea
                                                                            v-model="task.params.data"
                                                                            :rules="task.rules.data"
                                                                            label="Data"
                                                                            rows="3"
                                                                            auto-grow
                                                                            optional>
                                                                    </v-textarea>
                                                                </v-col>
                                                            </v-row>
                                                        </v-container>
                                                    </v-form>
                                                </v-card-text>
                                                <v-card-actions>
                                                    <v-spacer></v-spacer>
                                                    <v-btn text @click="task.dialog=false">
                                                        Close
                                                    </v-btn>
                                                    <v-btn text :disabled="!task.valid" @click="task.dialog=false; createTask()">
                                                        Execute
                                                    </v-btn>
                                                </v-card-actions>
                                            </v-card>
                                        </v-dialog>-->
                                    </v-toolbar>
                                </template>
                                <template v-slot:item.avatar="{ item }">
                                    <v-avatar size="25">
                                        <v-img :src="item.avatar" :alt="item.nickname"></v-img>
                                    </v-avatar>
                                </template>
                                <template v-slot:item.status="{ item }">
                                    <!--{{ enums['UserStatus'][item.status] }}-->
                                </template>
                                <template v-slot:item.actions="{ item }">
                                    <v-icon @click.stop="task.dialog=true; task.user=item; task.app=app">
                                        mdi-robot-angry
                                    </v-icon>
                                </template>
                            </v-data-table>

                        </v-sheet>
                    </v-col>
                </v-row>
            </v-container>
        </v-main>

        <v-snackbar v-model="message.show">
            {{ message.content }}
            <template v-slot:action="{ attrs }">
                <v-btn color="pink" text v-bind="attrs" @click="message.show = false">
                    {{ t('message.close') }}
                </v-btn>
            </template>
        </v-snackbar>
    </v-layout>
</v-app>

<script src="https://cdn.jsdelivr.net/npm/vue@3.4.27/dist/vue.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue-i18n@9.13.1/dist/vue-i18n.global.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@3.6.7/dist/vuetify.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios@0.x/dist/axios.min.js"></script>
<script src="scripts/qrcode.js"></script>
<script>
    const {createApp} = Vue
    const {createI18n} = VueI18n
    const {createVuetify} = Vuetify

    const vuetify = createVuetify({
        locale: {
            locale: 'zhHans',
            fallback: 'en',
        },
    })

    const i18n = createI18n({
        locale: 'zhHans',
        fallbackLocale: 'en',
        messages: {
            en: {
                nav: {
                    title: "Robotic Process Automation",
                    doc: "Documentation",
                    issues: "Issues",
                },
                message: {
                    close: "Close"
                },
                user: {
                    form: {},
                    header: {},
                }
            },
            zhHans: {
                nav: {
                    title: "机器人流程自动化",
                    doc: "文档",
                    issues: "错误报告",
                },
                message: {
                    close: "关闭"
                }
            }
        }
    })

    const app = createApp({
        data() {
            return {
                links: [
                    {name: "nav.title", url: "https://github.com/yihleego/robotic-process-automation"},
                    {name: "nav.doc", url: "https://github.com/yihleego/robotic-process-automation/README.md"},
                    {name: "nav.issues", url: "https://github.com/yihleego/robotic-process-automation/issues"},
                ],
                language: {
                    current: 'zhHans',
                    locales: [
                        {code: 'zhHans', name: '简体中文'},
                        {code: 'en', name: 'English'},
                    ],
                },
                message: {
                    content: "",
                    show: false
                },
                app: {
                    list: [],
                    total: 0,
                },
                user: {
                    list: [],
                    total: 0,
                    query: {},
                    headers: [
                        {title: 'User Id', key: 'id', sortable: true, queryable: false, align: 'start'},
                        {title: 'Avatar', key: 'avatar', sortable: false, queryable: false},
                        {title: 'Account', key: 'account', sortable: true, queryable: true},
                        {title: 'Nickname', key: 'nickname', sortable: false, queryable: true},
                        {title: 'Realname', key: 'realname', sortable: false, queryable: true},
                        {title: 'Company', key: 'company', sortable: false, queryable: true},
                        {title: 'Phone', key: 'phone', sortable: false, queryable: true},
                        {title: 'Status', key: 'status', sortable: false, queryable: false},
                        {title: 'Created Time', key: 'createdTime', sortable: true, queryable: true},
                        {title: 'Updated Time', key: 'updatedTime', sortable: true, queryable: true},
                        {title: 'Actions', key: 'actions', sortable: false, queryable: false, align: 'center'},
                    ],
                    options: {
                        itemsPerPage: 10,
                        multiSort: false,
                        mustSort: false,
                        page: 1,
                        sortBy: ['createdTime'],
                        sortDesc: [true],
                    },
                },
                curApp: null,
            }
        },
        created() {
            this.listApps()
            this.listEnums()
            this.listTaskTypes()
        },
        methods: {
            changeLocale(locale) {
                this.$i18n.locale = locale
                this.$vuetify.locale = locale
            },
            listApps() {
                let params = {
                    page: 1,
                    size: 100,
                    sort: 'name:ASC',
                }
                axios.get(`/apps`, {params: params})
                    .then((resp) => {
                        const res = resp.data
                        if (!res.success) {
                            throw res.message
                        }
                        this.app.list = res.data.list
                        this.app.total = res.data.total
                        this.curApp = this.app.list[0]
                        this.listUsers()
                    })
                    .catch((error) => {
                        this.toast(error)
                    })
            },
            listEnums() {
                /*axios.get(`/enums`)
                    .then((response) => {
                        let result = response.data
                        if (!result.success) {
                            throw result.message
                        }
                        this.constants = result.data
                        for (let key in this.constants) {
                            let values = this.constants[key]
                            let map = {}
                            for (let i in values) {
                                map[values[i].key] = values[i].value
                            }
                            this.enums[key] = map
                        }
                    })
                    .catch((error) => {
                        this.toast(error)
                    })*/
            },
            listTaskTypes() {
                /*axios.get(`/tasks/types`)
                    .then((response) => {
                        let result = response.data
                        if (!result.success) {
                            throw result.message
                        }
                        this.taskTypes = result.data
                        let map = {}
                        for (let appId in this.taskTypes) {
                            let values = this.taskTypes[appId]
                            for (let i in values) {
                                if (!map[appId]) {
                                    map[appId] = {}
                                }
                                map[appId][values[i].key] = values[i].value
                            }
                            this.enums['TaskType'] = map
                        }
                    })
                    .catch((error) => {
                        this.toast(error)
                    })*/
            },
            listUsers() {
                if (!this.curApp) {
                    return
                }
                this.user.loading = true
                let params = {
                    appIds: this.curApp.id,
                    page: this.user.options.page,
                    size: this.user.options.itemsPerPage
                }
                axios.get(`/users`, {params: params})
                    .then((resp) => {
                        let res = resp.data
                        if (!res.success) {
                            throw res.message
                        }
                        this.user.list = res.data.list
                        this.user.total = res.data.total
                    })
                    .catch((error) => {
                        this.toast(error)
                    })
                    .finally(() => {
                        this.user.loading = false
                    })
            },
            toast(message) {
                this.message.content = message
                this.message.show = true
            },
        }
    })

    app.use(i18n)
    app.use(vuetify)
    app.mount('#app')

</script>
</body>
</html>


